@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./Hamburger.css");

:root {
  --foreground-rgb: black;
  --background-rgb: white;
  --true-purple: #6a0dad;
  --thistle: #d8bfd8;
  --plum: #dda0dd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-rgb: #202020;
    --true-purple: #6a0dad;
    --thistle: #d8bfd8;
    --plum: #dda0dd;
  }
  .navbar_shadow {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 2px 8px;
  }
}

*,
p,
ul li {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

/* NAVBAR */
.active_navbar_link:hover {
  border-top: 2px solid transparent;
  border-bottom: 2px solid black !important;
}

.disable_navbar_link {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.navbar_shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
